@model IEnumerable<Area1.Models.DocumentViewModel>

@{
    ViewBag.Title = "Archives";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "DocumentsCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.docCat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.docTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.docPath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.docAuthor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.docDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.docCat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.docTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.docPath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.docAuthor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.docDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "DocumentsEdit", new { id=item.docID }) |
            @Html.ActionLink("Details", "DocumentsDetails", new { id=item.docID }) |
            @Html.ActionLink("Delete", "DocumentsDelete", new { id=item.docID })
        </td>
    </tr>
}

</table>
