@model Area1.Models.DocumentViewModel

@{
    ViewBag.Title = "Archives";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "DocumentsCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Category")
        </th>
        <th>
            @Html.Label("Title")
        </th>
        <th>
            @Html.Label("Author")
        </th>
        <th>
            @Html.Label("Date Uploaded")
        </th>
        <th></th>
    </tr>
    @foreach (var subCat in Model.docSubCategories)
    {
        <tr><th colspan="10">@subCat.subCatTitle</th></tr>
        foreach (var item in Model.documents.Where(x => x.docSubCat == subCat.subCatID))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.docCat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.docTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.docPath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.docAuthor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.docDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "DocumentsEdit", new { id = item.docID }) |
                    @Html.ActionLink("Details", "DocumentsDetails", new { id = item.docID }) |
                    @Html.ActionLink("Delete", "DocumentsDelete", new { id = item.docID })
                </td>
            </tr>
        }
    }

</table>
